
:root{
    margin: 20px;
}

*{
    box-sizing: border-box; /*This is default in most of the sites.*/
    margin: 0;
    padding: 0;                
}

form{
    margin: 2.5rem;
    padding: 2.5rem;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #adadad
}

input{
    width: 100%;
    margin: 0.5rem 0 0.5rem; 
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #dadada
}

input[type="radio"]{
    width: auto;
}

input[type="checkbox"]
{
    width: auto;
}

.submit-button{
    width: auto;
    background-color: teal;
    padding: 0.5rem;

}

.submit-button:hover{
    background-color: rgba(29, 99, 99, 0.489);
}