/* Table Properties */

table{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    
    /* padding: 0.5rem 1rem; */

}

th{
    border: 2px solid black;
    
}

/* Grid Properties:  */

.grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 1rem; 
     row-gap: 1.5rem;
    column-gap: 1rem;
   padding: 10px; 
   grid-template-areas: "item8 item7 item6"
   "item3 item4 item5"
   "item1 item2 ." ;
}

.grid-box div{
    background-color: aquamarine;
    border: 1px solid black;
}

.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item8{
    grid-area: item8;
}




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* position properties:  */

.position-box{
    height: 200vh;
    width: 100%;
    background-color: yellow;

}

.box2{
    height: 200px;
    width: 200px;
    background-color: brown;
    position:relative ; /*static, relative, absolute, sticky, fixed*/
    top: 10px;
    left: 300px;
    

}


.box3{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    bottom: 10px;
    right: 30px;

}

.box4{
    height: 200px;
    width: 200px;
    background-color: rebeccapurple;
    position: fixed;
    top: 10px;
    right: 30px;

}

.box5{
    height: 200px;
    width: 200px;
    background-color:aqua;
    position: sticky;
    top: 10px;
    left: 30px;

}




